body {
  margin: 0;
  font-family: "Arial", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(90deg, #1a3b57 50%, #f8b739 50%);
}

.app {
  display: flex;
  width: 100%;
  height: 100%;
}

.image-section {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a3b57;
}

.form-section {
  flex: 1;
  background-color: #f8b739;
}
